<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
>
    <testsuites>
        <testsuite name="winter.user">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./classes</directory>
            <directory suffix=".php">./components</directory>
            <directory suffix=".php">./controllers</directory>
            <directory suffix=".php">./facades</directory>
            <directory suffix=".php">./models</directory>
            <directory suffix=".php">./notifyrules</directory>
            <exclude>
                <file>./Plugin.php</file>
                <directory>./tests</directory>
                <directory>./updates</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
